@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

/* body formatting */
body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
  /*    background: -webkit-linear-gradient(left, #9896f0, #fbc8d5);*/
    background-image: url("../images/beach.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    padding: 1px 16px;
    height: 1000px;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.loggedInDiv {
    font-weight: bolder;
    font-size: 2vw;
    align-self: center;
}

.accessUIDiv {
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
    align-self: center;
}

.column {
    display: inline-block;
    padding: 10px 10px;
    vertical-align: middle;
}

#logoutButton {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 12px;
    font-size: 20px;
    background-color: #74d2e4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.column button {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tables {
    align-self: center;
}

.addContacts {
    align-self: center;
}

/* add contacts table formatting */
#addMe {
    display: none;
    border-radius: 5px;
    position: relative;
    background: rgba(250, 250, 248, 0.9);
    max-width: 350px;
    margin: 0 auto 50px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#addMe input {
    border-radius: 5px;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}


/* #addMe>input:valid {
    border: 2px solid #009345;
    ;
}

#addMe>input:invalid {
    border: 2px solid blue;
}

/* #addMe>input:invalid:required {
    background-image: white;
} */ 

#addMe button {
    border-radius: 5px;
    outline: 0;
    background: -webkit-linear-gradient(
        right,
        #2536cf, #00d4ff,#2536cf, #00d4ff
      );
    color: rgba(248, 246, 243, 0.9);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
}

#contacts td input {
    border-radius: 17px;
    outline: 0;
    background: #fbde99;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

/* button formatting */
.btn {
    color: #007D2F;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size: 2.3vw;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.3em 1.2em;
    margin: 0.6em 0.3em 0.3em 0;
    float: right;
}

.btn:hover {
    color: #897261;
}

/* search bar formatting */
.search-container {
    background: #fff;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover>.search-input {
    width: 400px;
}

.search-container .search-input {
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}

.search-container .search-btn .fas {
    color: rgba(155, 188, 115, 0.9);
}

.search-container:hover {
    animation: linear 3;
}

span {
    color: rgb(164, 0, 0);
}

p {
    color: rgb(164, 0, 0);
}

/* table formatting */
#contactsTable {
    display: block;
    height: 500px;
}


table {
    width: 100%;
    table-layout: fixed;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff; /* Add this line to set a white background */
}


.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border-radius: 10px;
    background-color: #fff; /* Add this line to set a white background */
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.24); /* Add this line for the shadow effect */

}

#contacts td,
#contacts th {
    border: 2px solid rgba(72, 107, 245, 0.9);
}

#contacts tr:hover {
    background-color: #478fbb;
}

#contacts th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    font-weight: bold;
    color: antiquewhite;
    background-color: #74d2e4;
    text-transform: uppercase;
}

#contacts td {
    padding: 15px;
    text-align: left;
    font-family: 'Montserrat';
    vertical-align: middle;
    font-weight: 300;
    font-size: 15px;
    font-weight: bold;
    color: #66471b;
    background-color: antiquewhite;
}
#contacts td span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 100%;
    color: #66471b;
}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/*side navigation menu*/
.sidenav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    position: relative;
}

.sidenav {
    width: 264px;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0px;
    top: 0px;
    overflow: auto;
    /*disables horizontal scroll*/
    position: fixed;
    /*scroll bar stays in place when user is scrolling*/
    background: rgba(155, 188, 115, 0.9);
}

/*navigation links*/
.sidenav a {
    padding: 10px 0px 15px 0px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 44px;
    color: #007D2F;
}

.buttons {
    padding: 10px 0px 15px 0px;
    display: block;
}

/*buttons that are on the sidebar*/
.sidebuttons {
    padding: 10px 0px 15px 0px;
    display: inline-block;
}

.sidebuttons:hover {
    color: #897261;
}

.buttons:hover {
    color: #897261;
}

.sidenav a:hover {
    color: #897261;
}

.font {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 44px;
    color: #007D2F;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 80px;
}

::selection {
    background: #0e45dd;
    color: #fff;
  }
  .wrapper {
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    opacity: 0.95;
    /*  font-weight: bold;*/
  }
  .wrapper .title-text {
    display: flex;
    width: 200%;
  }
  .wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup {
    color: #000;
  }
  .slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #2536cf, #00d4ff);
    transition: all 0.6s linear;
  }
  input[type="radio"] {
    display: none;
  }
  #signup:checked ~ .slider-tab {
    left: 50%;
  }
  #signup:checked ~ label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login {
    color: #000;
  }
  #login:checked ~ label.signup {
    color: #000;
  }
  #login:checked ~ label.login {
    cursor: default;
    user-select: none;
  }
  .slide-controls label:hover {
    border: 1.5px solid;
    transition: border-color;
    border-color: #00d4ff;
    border-radius: 5px;
  }
  .login .field:hover {
    border: 1.5px solid;
    transition: border-color;
    border-color: #00d4ff;
    border-radius: 5px;
  }
  
  .signup .field:hover {
    border: 1.5px solid;
    transition: border-color;
    border-color: #00d4ff;
    border-radius: 5px;
  }
  .wrapper .form-container {
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner {
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  .form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .form-inner form .field input:focus {
    border-color: #00d4ff;
  }
  .form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
  }
  /*form .field input:focus::placeholder {
    color: #b3b3b3;
  }*/
  .form-inner form .pass-link {
    margin-top: 5px;
  }
  .form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a {
    color: #0e45dd;
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover {
    text-decoration: underline;
  }
  form .btn {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(
      right,
      #2536cf, #00d4ff,#2536cf, #00d4ff
    );
    border-radius: 5px;
    transition: all 0.4s ease;
  }
  form .btn:hover .btn-layer {
    left: 0;
  }
  form .btn input[type="button"] {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }

/* make sidebar a topbar for mobile view*/
@media screen and (max-width: 700px) {
    body {
        background-image: url('../images/ocean_background.jpg');
    }

    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        /*hides scroll bar*/
        position: sticky;

    }

    .sidebuttons {
        position: relative;
        font-size: 4vw;
        top: 5px;
    }

    .sidenav a {
        display: inline-block;
        padding: 10px;
        font-size: 4vw;
        top: 5px;
        position: relative;
    }

    .sidenav img {
        width: 12vw;
        float: left;
    }

    div.content {
        margin-left: 0;
    }

    .buttons {
        margin-left: 100px;
    }
}

/*displays the bar vertically*/
@media screen and (max-width: 400px) {
    .sidenav a {
        text-align: center;
        float: none;
    }

    .sidenav img {
        width: 40%;
    }
}
